*{padding: 0;
margin: 0;
box-sizing: border-box;
font-family: sans-serif;}
.navbar{
    width: 1905px;
    height: 60px;
     display: flex;
            align-items: center;
            justify-content: space-around;
            background-color: whitesmoke;
           img{
            width: 32px;
             height: 32px;
    .right{
            width: 556px;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 35px;
            
               }
               a{
                text-decoration: none;
                color: rgb(39, 39, 39);
             }
             .nav_ma{
                display: flex; 
                gap: 35px;
             }
             a:hover{
        color: orangered;
    }

        }
        .left{
             width: 556px;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 35px;
            a{
                text-decoration: none;
                color: rgb(39, 39, 39);
                i{
                    font-size: 20px;
                }
             }
             a:hover{
        color: orangered;
    }


        }
}
.first_top{
    width: 1905px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    padding-left: 20px;
    color: gray;
    background-color: whitesmoke;
    a{
        text-decoration: none;
        color: gray;
    }
    a:hover{
        color: black;
    }
}
.second_top{
    width: 1905px;
    height: 200px;
    padding-left: 15px;
    background-color: whitesmoke;
    .menue{
        width: 1905px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 30px;
        font-size: 20px;
          a{
        text-decoration: none;
        color: black;
    }
    a:hover{
        color: orangered;
    }
    p{
        color: black;
    }
    }

}
.cards{
    width: 1905px;
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    background-color: whitesmoke;
    .card{
        width: 462px;
        height: 565px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: white;
        button{
            width: 170px;
            height: 40px;
            border-radius: 10px 10px 10px 10px;
            border: 2px solid gray;
            font-size: 18px;
            color: gray;
            background-color: transparent;
        }
        button:hover{
            color: rgba(135, 135, 135, 0.781);
            border: 2px solid rgba(135, 135, 135, 0.781);
        }
    }
    .card:hover{
        box-shadow: 1.2px 1.7px 10px 1.5px rgba(179, 179, 179, 0.781);
    }
}
.footer{
    width:1905px;
    height: 600px;
    color:white;
    background-color: #191919;
    .top{
        width:1905px;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 60px;
         .fr_card{
            width: 300px;
            height: 355px;
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            gap: 16px;
      a{
        
        text-decoration: none;
        color: #898989;
        display: inline;
         position: relative;
         transition-duration: 0.2s;
             font-size: 16px;
         
       
       }
        a:hover::after{
        content:"" ;
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        width:150px;
        background-color: white;
       }
       a:hover{
        color: white;
        
       }
       h4{
        font-weight: 0;
       }


 }
 .fr_icons{
    width: 360px;
    height: 350px;
    
    .icons{
        width: 305px;
    height: 35px;
        display: flex;
    gap: 25px   ;  
        i{
            font-size: 35px;
        }
    }
    h4{
        font-weight: 0;
            font-size: 16px;

    }
    input{
        width: 350px;
        height: 50px;
        border: 1px solid white;
        color: white;
        background-color: transparent;
        border-radius: 15px;
        font-size: 18px;
       
        
    }

        
 }
}
hr{
    width: 77%;
    margin: 10px auto;
    color: #898989;
}
.f_end{
    width: 1905px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 135px;
    .end_right{
        width:40%;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        color:whitesmoke;
        a{
            text-decoration: none;
            color: whitesmoke;
        }
    }
    .end_left{
        width: 30%;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;
        i{
            background-color: white;
            color: #191919;
            border-radius: 45%;
        }
    }
}

 
   
}










@media screen and (max-width:770px) 
{
    .nav_ma a{
        display: none;
    }
    .navbar a{
        font-size: larger;

    }
    .first_top{
        padding-left: 200px;
    }
    .second_top{
        padding-left: 200px;
    }
    .cards{
         grid-template-columns: 1fr 1fr  1fr;
    }
    
}








